@font-face {
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LAKESHOR-webfont.woff') format('woff'),
         url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
         url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: rgb(149, 194, 215);
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

.detail-image-container {
    flex: 1 1 auto;
}

.detail-image {
    width: 90%;
}

.logo-text {
    background: white;
    font-family: lakeshore, serif;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
}

.main-header {
    flex: 0 1 auto;
}

.main-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
}

.thumbnail-list {
    flex: 0 1 auto;
    list-style: none;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

.thumbnail-title {
    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);
    display: block;
    margin: 0;
    padding: 4px 10px;

}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-item {
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    display: inline-block;
    width: 120px;
}
